<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/admin.css" />
    <title>Könyvesbolt</title>
  </head>
  <body>
    <!-- Navbar -->
    <% include navbar %>

    <!-- Content area -->
    <div class="content">
      <h2>Admin oldal</h2>

      <select name="select-table" onchange="javascript:handleSelect(this)">
        <option value="/admin/konyv">Könyvek</option>
        <option value="/admin/szerzoje">Szerzők</option>
        <option value="/admin/kiado">Kiadók</option>
        <option value="/admin/kiadta">Kiadások</option>
        <option value="/admin/mufaja">Műfajok</option>
        <option value="/admin/felhasznalo">Felhasználók</option>
        <option value="/admin/tetel">Tételek</option>
        <option value="/admin/uzlet">Üzletek</option>
      </select>

      <% if (columnNames !== undefined) { %>
      <!-- Dynamic form -->
      <form
        id="newRecordForm"
        class="record-form"
        method="POST"
        onsubmit="submitNewRecord()"
      >
        <% for (let i = 0; i < formFields.length; i++) { %>
        <div class="form-field">
          <label class="form-label">
            <%= formFields[i].label %>
            <!-- 
              <% if (formFields[i].required) { %>
              <span class="required">*</span>
              <% } %> 
            -->
          </label>
          <% if (formFields[i].type === 'text') { %>
          <input
            class="form-input"
            type="text"
            name="<%= formFields[i].name %>"
          />
          <% } else if (formFields[i].type === 'email') { %>
          <input
            class="form-input"
            type="email"
            name="<%= formFields[i].name %>"
          />
          <% } else if (formFields[i].type === 'number') { %>
          <input
            class="form-input"
            type="number"
            name="<%= formFields[i].name %>"
          />
          <% } %>
        </div>
        <% } %>
        <button class="form-submit-button" type="submit">Submit</button>
      </form>

      <!-- Table data -->
      <table>
        <thead>
          <tr>
            <% for (let i = 0; i < columnNames.length; i++) { %>
            <th><%= columnNames[i] %></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < rows.length; i++) { %>
          <tr>
            <% for (let j = 0; j < rows[i].length; j++) { %>
            <td><%= rows[i][j] %></td>
            <% } %>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } %>
    </div>

    <script type="text/javascript">
      function handleSelect(elm) {
        window.location = elm.value;
      }
      function submitNewRecord() {
        let currentUrl = window.location.href;
        const form = document.getElementById("newRecordForm");
        form.action = `${currentUrl}/submitNewRecord`;
      }
    </script>
  </body>
</html>
