<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/books.css">
  <title>Könyvesbolt</title>
</head>
<body>
    <!-- Navbar -->
    <% include navbar %>
    
    <!-- Content area -->
    <div class="content">
      <h1> Könyvek </h1>
      
      <div class="books-container">
        <% rows.forEach(function(row) { %>
        <div class="book">
          
          <div class="attributes-container">
            <!-- Konyv cime -->
            <h2 class="book-title"><%= row[1] %></h2>
            <!-- Szerzo(k) -->
            <p>Szerző: <%= row[2] %></p>
            <!-- Mufaj -->
            <p>Műfajok: <%= row[3] %></p>
            <!-- Kiadó -->
            <p>Kiadó: <%= row[6] %></p>
            <!-- Atlag rating -->
            <div class="book-rating">
              <img class="star-icon" src="images/star-solid.svg" />
              <p> <%= row[5] == null ? "Nincs" : Math.round(row[5] * 100) / 100 %></p>
            </div>
            <!-- Konyv ara-->
            <p class="book-price">Ár: <%= row[4] %> Ft</p>
          </div>
          <button onclick="addToCart('<%= row[0] %>')">Add to cart</button>
        </div>
        <% }); %>
      </div>
      
    </div>

    <script src="javascripts/random_book_cover.js"></script>
  </body>
</html>