<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/kosar.css">
  <script src="javascripts/cartFunction.js"></script>
  <title>Könyvesbolt</title>
</head>
<body>
    <!-- Navbar -->
    <% include navbar %>
    <!-- Content area -->
    <div class="content">
      <h2> Kosár </h2>
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Cím</th>
            <th>Darabszam</th>
            <th>Hova</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(row) { %>
            <tr>
              <td><%= row[0] %></td>
              <td><%= row[1] %></td>
              <td><%= row[2] %></td>
              <td><%= row[3] %></td>
              <td><button onclick="deleteFromCart('<%= row[0] %>', '<%= row[1] %>')">Törlés</button></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>