<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Könyvesbolt</title>
</head>
<body>
    <!-- Navbar -->
    <% include navbar %>
    
    
    <!-- Content area -->
    <div class="content">
      <h2> Kosár </h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>ISBN</th>
          <th>Darabszam</th>
          <th>Hova</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(row) { %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.email %></td>
          <td><%= row.isbn %></td>
          <td><%= row.darabszam %></td>
          <td><%= row.hova %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>