<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Könyvesbolt</title>
</head>
<body>
    <!-- Navbar -->
    <% include navbar %>
    
    
    <!-- Content area -->
    <div class="content">
      <h2> Kosár </h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>ISBN</th>
          <th>Darabszam</th>
          <th>Hova</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(row) { %>
          <div class="book">
            <div class="attributes-container">
            <tr>
              <th><p><%= row[0] %></p></th>
              <th><p><%= row[1] %></p></th>
              <th><p><%= row[2] %></p></th>
              <th><p><%= row[3] %></p></th>
              <th><p><%= row[4] %></p></th>
            </tr>
            </div>
          </div>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>